@model MiRadio_Startup.Models.Musica

@{
    ViewData["Title"] = "Detalles";
}
<!-- Estilo para la imagen de fondo -->
<style>
    body {
        background-image: url('/imagenes/imagen8.jpg'); /* Ruta a tu imagen de fondo */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
    }

    .container {
        padding: 20px; /* Ajusta el espaciado interior según sea necesario */
    }
</style>

<h1>Detalles de Música</h1>

<div class="row">
    <div class="col-md-4">
        @if (!string.IsNullOrEmpty(Model.MusicaFilename))
        {
            <video src="~/musicas/@Model.MusicaFilename" class="video-thumbnail" width="320" height="240" controls>
                Tu navegador no soporta la etiqueta de video.
            </video>
        }
        else
        {
            <p>No hay video disponible.</p>
        }
    </div>
    <div class="col-md-8">
        <h4>Música</h4>
        <hr />

        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.FechaPublicacion)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.FechaPublicacion)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Titulo)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Titulo)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Autor)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Autor)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Genero)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Genero)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Descripcion)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.TamanoKB)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.TamanoKB)
            </dd>
        </dl>

        <h4>Comentarios</h4>
        <hr />
        @if (Model.Comentarios.Any())
        {
            foreach (var comentario in Model.Comentarios)
            {
                <div>
                    <p><strong>@comentario.UsuarioS.Nombre:</strong> @comentario.Texto</p>
                    <p>@comentario.FechaPublicacion</p>
                </div>
                <hr />
            }
        }
        else
        {
            <p>No hay comentarios disponibles.</p>
        }
    </div>
</div>

<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model.IdMusica" class="btn btn-warning">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Volver atrás</a>
</div>
